<a href="https://colab.research.google.com/github/apichatsc03/pyBasic/blob/main/Trainning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

sample

In [ ]:
s = "Training Py"
print(s)

Training Py

In [ ]:
print("Hello world")
print("Python")

Hello world
Python

In [ ]:
s="Training Py"
s="2 Week"
print(s)

2 Week

In [ ]:
s="Training Py"
c="39"
print(s, c)
print(type(s), type(c))

#convert value
c=int(c)
print(type(c))

# error case
# s=int(s)
# print(type(s))

Training Py 39
<class 'str'> <class 'str'>
<class 'int'>

ValueError: ignored

Assigment 1

In [ ]:
print("1.", 2+3)
print("2.", 2*3)
print("3.", (2+3)/4)
print("4.", 2**3)
print("5.", "Hello" + "World")
print("6.", "HelloWorld"*3)

1. 5
2. 6
3. 1.25
4. 8
5. HelloWorld
6. HelloWorldHelloWorldHelloWorld

Assingment 2

In [ ]:
i="a"
print("1.", i == "a")
j=2
print("2.", j < 3)
k = 8
z = 4
print("3.", k!=z)
i=3
j=2
print("4.", (i+j) >= 5)
i="a"
print("5.", i <= "b")

print("6.", "ab" <= "aa")

1. True
2. True
3. True
4. True
5. True
6. False

Assigment3

In [ ]:
i="a"
if i == "a":
  print("1.", True)

j=2
if j < 3:
  print("2.", True)

k = 8
z = 4
if k!=z: 
  print("3.", True)
  
i=3
j=2
if (i+j) >= 5:
  print("4.", True)

i="a"
if i <= "b":
  print("5.", True)

1. True!
2. True!
3. True!
4. True!
5. True!

Assigment4

In [ ]:
i=float(input())
if i > 3:
  i = i+3
  print("case 1. =",i)
elif i < 3:
  if i > 1.5:
    print("case 2. =",i * 2)
  else:
    print("case 3. =",i * 3)
else:
  print("case 4. =",i)

1.7
case 2. = 3.4

Assignment 4.1

In [60]:
monthly = 6000000

if monthly > 150000:
  tax = 0
  if monthly <= 300000:
    tax = ((monthly - 150000)*0.05)
  elif monthly <= 500000:
    max = 150000 * 0.05
    print("max=", max)
    tax = ((monthly - 300000)*0.1)+max
  elif monthly <= 750000:  
    max = ((500000 - 300000) * 0.1) + 7500
    print("max=", max)
    tax = ((monthly - 500000)*0.15)+max
  elif monthly <= 1000000: 
    max = ((750000 - 500000) * 0.15) + 27500
    print("max=", max)
    tax = ((monthly - 750000)*0.20)+max
  elif monthly <= 2000000: 
    max = ((1000000 - 750000) * 0.20) + 65000
    print("max=", max)
    tax = ((monthly - 1000000)*0.25)+max
  elif monthly <= 5000000: 
    max = ((2000000 - 1000000) * 0.25) + 115000
    print("max=", max)
    tax = ((monthly - 2000000)*0.30)+max
  else:
    max = ( 5000000 - 2000000) * 0.30 + 365000
    print("max=", max)
    tax = ((monthly - 5000000)*0.35)+max

  print("Pay tax =",tax)
else:
  print("Not pay tax.")

max= 1265000.0
Pay tax = 1615000.0

Assigment5

In [51]:
for i in range(0,9):
  j = i+1
print("1.", j)

1. 9

In [52]:
for i in range(1, 11):
  if i<=5:
    j=i+2
  else:
    j=i+1
print("2.", j)

2. 11

In [53]:
for i in range(1, 11):
  print("Happy")

Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy

Assingment6

In [66]:
i = 1
while i<10:
    print("Happy")
    i=i+1

Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy
Happy

In [71]:
i=1
while i>10:
  if i<=5:
    i=i+2
  else:
    i=i+1
print(i*"YMCA")

YMCA