<a href="https://colab.research.google.com/github/apichatsc03/pyBasic/blob/main/Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#อ่านไฟล์ใน googledrive
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)

#การอ่านไฟล์ excel
import pandas as pd
df=pd.read_excel('gdrive/My Drive/P1-OfficeSupplies.xlsx',sheet_name=0)
df

Mounted at /content/gdrive

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State
0,1.0,2014-07-04,Richard,Pen Set,62.0,4.99,ALABAMA
1,2.0,2014-07-12,Nick,Binder,29.0,1.99,CALIFORNIA
2,3.0,2014-07-21,Morgan,Pen Set,55.0,12.49,SOUTH CAROLINA
3,4.0,2014-07-29,Susan,Binder,81.0,19.99,UTAH
4,5.0,2014-08-07,Matthew,Pen Set,42.0,23.95,WASHINGTON
5,6.0,2014-08-15,Richard,Pencil,35.0,4.99,NORTH DAKOTA
6,7.0,2014-08-24,James,Desk,3.0,275.00,NEW JERSEY
7,8.0,2014-09-01,Smith,Desk,2.0,125.00,NEW JERSEY
8,9.0,2014-09-10,Bill,Pencil,7.0,1.29,NEBRASKA
9,10.0,2014-09-18,Richard,Pen Set,16.0,15.99,OHIO
10,11.0,2014-09-27,James,Pen,76.0,1.99,NEW MEXICO
11,12.0,2014-10-05,Morgan,Binder,28.0,8.99,NEW MEXICO
12,13.0,2014-10-14,Thomas,Binder,57.0,19.99,COLORADO
13,14.0,2014-10-22,Richard,Pen,64.0,8.99,MONTANA
14,15.0,2014-10-31,Rachel,Pencil,14.0,1.29,MICHIGAN
15,16.0,2014-11-08,Susan,Pen,15.0,19.99,NORTH DAKOTA
16,17.0,2014-11-17,Alex,Binder,11.0,4.99,ILLINOIS
17,18.0,2014-11-25,Matthew,Pen Set,96.0,4.99,OHIO
18,19.0,2014-12-04,Alex,Binder,94.0,19.99,IOWA
19,20.0,2014-12-12,Smith,Pencil,67.0,1.29,KENTUCKY
20,21.0,2014-12-21,Rachel,Binder,28.0,4.99,MONTANA
21,22.0,2014-12-29,Susan,Pen Set,74.0,15.99,NORTH DAKOTA
22,23.0,2015-01-06,Richard,Pencil,95.0,1.99,UTAH
23,24.0,2015-01-15,Bill,Binder,46.0,8.99,PENNSYLVANIA
24,25.0,2015-01-23,Matthew,Binder,50.0,19.99,IDAHO
25,26.0,2015-02-01,Smith,Binder,87.0,15.00,MICHIGAN
26,27.0,2015-02-09,Alex,Pencil,36.0,4.99,SOUTH DAKOTA
27,28.0,2015-02-18,Richard,Binder,4.0,4.99,OHIO
28,29.0,2015-02-26,Bill,Pen,27.0,19.99,OHIO
29,30.0,2015-03-07,James,Binder,7.0,19.99,MISSOURI
30,31.0,2015-03-15,James,Pencil,56.0,2.99,OTHER STATES
31,32.0,2015-03-24,Alex,Pen Set,50.0,4.99,WYOMING
32,33.0,2015-04-01,Richard,Binder,60.0,4.99,GEORGIA
33,34.0,2015-04-10,Rachel,Pencil,66.0,1.99,MONTANA
34,35.0,2015-04-18,Rachel,Pencil,75.0,1.99,DELAWARE
35,36.0,2015-04-27,Nick,Pen,96.0,4.99,NORTH CAROLINA
36,37.0,2015-05-05,Alex,Pencil,90.0,4.99,ALASKA
37,38.0,2015-05-14,Bill,Pencil,53.0,1.29,IDAHO
38,39.0,2015-05-22,Thomas,Pencil,32.0,1.99,INDIANA
39,40.0,2015-05-31,Bill,Binder,80.0,8.99,CALIFORNIA
40,41.0,2015-06-08,Richard,Binder,60.0,8.99,NORTH CAROLINA
41,42.0,2015-06-17,Matthew,Desk,5.0,125.00,ARIZONA
42,43.0,2015-06-25,Morgan,Pencil,90.0,4.99,PENNSYLVANIA

In [ ]:
print(df.iloc[0,df.columns.get_loc('OrderDate')])

2014-07-04 00:00:00

In [ ]:
num_row = len(df.index)
print(num_row)

43

In [ ]:
def convertYear(df):
  for i in range(0,len(df.index)):
    od = str(df.iloc[i,df.columns.get_loc('OrderDate')])
    ny = int(str(df.iloc[i,df.columns.get_loc('OrderDate')])[0:4]) + 543

    df.iloc[i,df.columns.get_loc('OrderDate')] = str(ny) + str(df.iloc[i,df.columns.get_loc('OrderDate')])[4:]
  return df

df = convertYear(df)

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State
0,1.0,2557-07-04 00:00:00,Richard,Pen Set,62.0,4.99,ALABAMA
1,2.0,2557-07-12 00:00:00,Nick,Binder,29.0,1.99,CALIFORNIA
2,3.0,2557-07-21 00:00:00,Morgan,Pen Set,55.0,12.49,SOUTH CAROLINA
3,4.0,2557-07-29 00:00:00,Susan,Binder,81.0,19.99,UTAH
4,5.0,2557-08-07 00:00:00,Matthew,Pen Set,42.0,23.95,WASHINGTON
5,6.0,2557-08-15 00:00:00,Richard,Pencil,35.0,4.99,NORTH DAKOTA
6,7.0,2557-08-24 00:00:00,James,Desk,3.0,275.00,NEW JERSEY
7,8.0,2557-09-01 00:00:00,Smith,Desk,2.0,125.00,NEW JERSEY
8,9.0,2557-09-10 00:00:00,Bill,Pencil,7.0,1.29,NEBRASKA
9,10.0,2557-09-18 00:00:00,Richard,Pen Set,16.0,15.99,OHIO
10,11.0,2557-09-27 00:00:00,James,Pen,76.0,1.99,NEW MEXICO
11,12.0,2557-10-05 00:00:00,Morgan,Binder,28.0,8.99,NEW MEXICO
12,13.0,2557-10-14 00:00:00,Thomas,Binder,57.0,19.99,COLORADO
13,14.0,2557-10-22 00:00:00,Richard,Pen,64.0,8.99,MONTANA
14,15.0,2557-10-31 00:00:00,Rachel,Pencil,14.0,1.29,MICHIGAN
15,16.0,2557-11-08 00:00:00,Susan,Pen,15.0,19.99,NORTH DAKOTA
16,17.0,2557-11-17 00:00:00,Alex,Binder,11.0,4.99,ILLINOIS
17,18.0,2557-11-25 00:00:00,Matthew,Pen Set,96.0,4.99,OHIO
18,19.0,2557-12-04 00:00:00,Alex,Binder,94.0,19.99,IOWA
19,20.0,2557-12-12 00:00:00,Smith,Pencil,67.0,1.29,KENTUCKY
20,21.0,2557-12-21 00:00:00,Rachel,Binder,28.0,4.99,MONTANA
21,22.0,2557-12-29 00:00:00,Susan,Pen Set,74.0,15.99,NORTH DAKOTA
22,23.0,2558-01-06 00:00:00,Richard,Pencil,95.0,1.99,UTAH
23,24.0,2558-01-15 00:00:00,Bill,Binder,46.0,8.99,PENNSYLVANIA
24,25.0,2558-01-23 00:00:00,Matthew,Binder,50.0,19.99,IDAHO
25,26.0,2558-02-01 00:00:00,Smith,Binder,87.0,15.00,MICHIGAN
26,27.0,2558-02-09 00:00:00,Alex,Pencil,36.0,4.99,SOUTH DAKOTA
27,28.0,2558-02-18 00:00:00,Richard,Binder,4.0,4.99,OHIO
28,29.0,2558-02-26 00:00:00,Bill,Pen,27.0,19.99,OHIO
29,30.0,2558-03-07 00:00:00,James,Binder,7.0,19.99,MISSOURI
30,31.0,2558-03-15 00:00:00,James,Pencil,56.0,2.99,OTHER STATES
31,32.0,2558-03-24 00:00:00,Alex,Pen Set,50.0,4.99,WYOMING
32,33.0,2558-04-01 00:00:00,Richard,Binder,60.0,4.99,GEORGIA
33,34.0,2558-04-10 00:00:00,Rachel,Pencil,66.0,1.99,MONTANA
34,35.0,2558-04-18 00:00:00,Rachel,Pencil,75.0,1.99,DELAWARE
35,36.0,2558-04-27 00:00:00,Nick,Pen,96.0,4.99,NORTH CAROLINA
36,37.0,2558-05-05 00:00:00,Alex,Pencil,90.0,4.99,ALASKA
37,38.0,2558-05-14 00:00:00,Bill,Pencil,53.0,1.29,IDAHO
38,39.0,2558-05-22 00:00:00,Thomas,Pencil,32.0,1.99,INDIANA
39,40.0,2558-05-31 00:00:00,Bill,Binder,80.0,8.99,CALIFORNIA
40,41.0,2558-06-08 00:00:00,Richard,Binder,60.0,8.99,NORTH CAROLINA
41,42.0,2558-06-17 00:00:00,Matthew,Desk,5.0,125.00,ARIZONA
42,43.0,2558-06-25 00:00:00,Morgan,Pencil,90.0,4.99,PENNSYLVANIA

In [ ]:
def RoundUpPrice(df):
  for i in range(0,len(df.index)):
    op = df.iloc[i,df.columns.get_loc('Unit Price')]
    np = int(df.iloc[i,df.columns.get_loc('Unit Price')])
    if ((op-np) > 0.5):
      df.iloc[i,df.columns.get_loc('Unit Price')] = (np + 1)
    else:
      df.iloc[i,df.columns.get_loc('Unit Price')] = np
  return df

df = RoundUpPrice(df)
df

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State
0,1.0,2557-07-04 00:00:00,Richard,Pen Set,62.0,5.0,ALABAMA
1,2.0,2557-07-12 00:00:00,Nick,Binder,29.0,2.0,CALIFORNIA
2,3.0,2557-07-21 00:00:00,Morgan,Pen Set,55.0,12.0,SOUTH CAROLINA
3,4.0,2557-07-29 00:00:00,Susan,Binder,81.0,20.0,UTAH
4,5.0,2557-08-07 00:00:00,Matthew,Pen Set,42.0,24.0,WASHINGTON
5,6.0,2557-08-15 00:00:00,Richard,Pencil,35.0,5.0,NORTH DAKOTA
6,7.0,2557-08-24 00:00:00,James,Desk,3.0,275.0,NEW JERSEY
7,8.0,2557-09-01 00:00:00,Smith,Desk,2.0,125.0,NEW JERSEY
8,9.0,2557-09-10 00:00:00,Bill,Pencil,7.0,1.0,NEBRASKA
9,10.0,2557-09-18 00:00:00,Richard,Pen Set,16.0,16.0,OHIO
10,11.0,2557-09-27 00:00:00,James,Pen,76.0,2.0,NEW MEXICO
11,12.0,2557-10-05 00:00:00,Morgan,Binder,28.0,9.0,NEW MEXICO
12,13.0,2557-10-14 00:00:00,Thomas,Binder,57.0,20.0,COLORADO
13,14.0,2557-10-22 00:00:00,Richard,Pen,64.0,9.0,MONTANA
14,15.0,2557-10-31 00:00:00,Rachel,Pencil,14.0,1.0,MICHIGAN
15,16.0,2557-11-08 00:00:00,Susan,Pen,15.0,20.0,NORTH DAKOTA
16,17.0,2557-11-17 00:00:00,Alex,Binder,11.0,5.0,ILLINOIS
17,18.0,2557-11-25 00:00:00,Matthew,Pen Set,96.0,5.0,OHIO
18,19.0,2557-12-04 00:00:00,Alex,Binder,94.0,20.0,IOWA
19,20.0,2557-12-12 00:00:00,Smith,Pencil,67.0,1.0,KENTUCKY
20,21.0,2557-12-21 00:00:00,Rachel,Binder,28.0,5.0,MONTANA
21,22.0,2557-12-29 00:00:00,Susan,Pen Set,74.0,16.0,NORTH DAKOTA
22,23.0,2558-01-06 00:00:00,Richard,Pencil,95.0,2.0,UTAH
23,24.0,2558-01-15 00:00:00,Bill,Binder,46.0,9.0,PENNSYLVANIA
24,25.0,2558-01-23 00:00:00,Matthew,Binder,50.0,20.0,IDAHO
25,26.0,2558-02-01 00:00:00,Smith,Binder,87.0,15.0,MICHIGAN
26,27.0,2558-02-09 00:00:00,Alex,Pencil,36.0,5.0,SOUTH DAKOTA
27,28.0,2558-02-18 00:00:00,Richard,Binder,4.0,5.0,OHIO
28,29.0,2558-02-26 00:00:00,Bill,Pen,27.0,20.0,OHIO
29,30.0,2558-03-07 00:00:00,James,Binder,7.0,20.0,MISSOURI
30,31.0,2558-03-15 00:00:00,James,Pencil,56.0,3.0,OTHER STATES
31,32.0,2558-03-24 00:00:00,Alex,Pen Set,50.0,5.0,WYOMING
32,33.0,2558-04-01 00:00:00,Richard,Binder,60.0,5.0,GEORGIA
33,34.0,2558-04-10 00:00:00,Rachel,Pencil,66.0,2.0,MONTANA
34,35.0,2558-04-18 00:00:00,Rachel,Pencil,75.0,2.0,DELAWARE
35,36.0,2558-04-27 00:00:00,Nick,Pen,96.0,5.0,NORTH CAROLINA
36,37.0,2558-05-05 00:00:00,Alex,Pencil,90.0,5.0,ALASKA
37,38.0,2558-05-14 00:00:00,Bill,Pencil,53.0,1.0,IDAHO
38,39.0,2558-05-22 00:00:00,Thomas,Pencil,32.0,2.0,INDIANA
39,40.0,2558-05-31 00:00:00,Bill,Binder,80.0,9.0,CALIFORNIA
40,41.0,2558-06-08 00:00:00,Richard,Binder,60.0,9.0,NORTH CAROLINA
41,42.0,2558-06-17 00:00:00,Matthew,Desk,5.0,125.0,ARIZONA
42,43.0,2558-06-25 00:00:00,Morgan,Pencil,90.0,5.0,PENNSYLVANIA

In [ ]:
df['Total sale']=""

def CalTotal(df):
  for i in range(0,43):
    df.iloc[i,df.columns.get_loc('Total sale')]=df.iloc[i,df.columns.get_loc('Units')]*df.iloc[i,df.columns.get_loc('Unit Price')]
  return df

df = CalTotal(df)

df

,Transaction,OrderDate,Rep,Item,Units,Unit Price,State,Total sale
0,1.0,2557-07-04 00:00:00,Richard,Pen Set,62.0,5.0,ALABAMA,310.0
1,2.0,2557-07-12 00:00:00,Nick,Binder,29.0,2.0,CALIFORNIA,58.0
2,3.0,2557-07-21 00:00:00,Morgan,Pen Set,55.0,12.0,SOUTH CAROLINA,660.0
3,4.0,2557-07-29 00:00:00,Susan,Binder,81.0,20.0,UTAH,1620.0
4,5.0,2557-08-07 00:00:00,Matthew,Pen Set,42.0,24.0,WASHINGTON,1008.0
5,6.0,2557-08-15 00:00:00,Richard,Pencil,35.0,5.0,NORTH DAKOTA,175.0
6,7.0,2557-08-24 00:00:00,James,Desk,3.0,275.0,NEW JERSEY,825.0
7,8.0,2557-09-01 00:00:00,Smith,Desk,2.0,125.0,NEW JERSEY,250.0
8,9.0,2557-09-10 00:00:00,Bill,Pencil,7.0,1.0,NEBRASKA,7.0
9,10.0,2557-09-18 00:00:00,Richard,Pen Set,16.0,16.0,OHIO,256.0
10,11.0,2557-09-27 00:00:00,James,Pen,76.0,2.0,NEW MEXICO,152.0
11,12.0,2557-10-05 00:00:00,Morgan,Binder,28.0,9.0,NEW MEXICO,252.0
12,13.0,2557-10-14 00:00:00,Thomas,Binder,57.0,20.0,COLORADO,1140.0
13,14.0,2557-10-22 00:00:00,Richard,Pen,64.0,9.0,MONTANA,576.0
14,15.0,2557-10-31 00:00:00,Rachel,Pencil,14.0,1.0,MICHIGAN,14.0
15,16.0,2557-11-08 00:00:00,Susan,Pen,15.0,20.0,NORTH DAKOTA,300.0
16,17.0,2557-11-17 00:00:00,Alex,Binder,11.0,5.0,ILLINOIS,55.0
17,18.0,2557-11-25 00:00:00,Matthew,Pen Set,96.0,5.0,OHIO,480.0
18,19.0,2557-12-04 00:00:00,Alex,Binder,94.0,20.0,IOWA,1880.0
19,20.0,2557-12-12 00:00:00,Smith,Pencil,67.0,1.0,KENTUCKY,67.0
20,21.0,2557-12-21 00:00:00,Rachel,Binder,28.0,5.0,MONTANA,140.0
21,22.0,2557-12-29 00:00:00,Susan,Pen Set,74.0,16.0,NORTH DAKOTA,1184.0
22,23.0,2558-01-06 00:00:00,Richard,Pencil,95.0,2.0,UTAH,190.0
23,24.0,2558-01-15 00:00:00,Bill,Binder,46.0,9.0,PENNSYLVANIA,414.0
24,25.0,2558-01-23 00:00:00,Matthew,Binder,50.0,20.0,IDAHO,1000.0
25,26.0,2558-02-01 00:00:00,Smith,Binder,87.0,15.0,MICHIGAN,1305.0
26,27.0,2558-02-09 00:00:00,Alex,Pencil,36.0,5.0,SOUTH DAKOTA,180.0
27,28.0,2558-02-18 00:00:00,Richard,Binder,4.0,5.0,OHIO,20.0
28,29.0,2558-02-26 00:00:00,Bill,Pen,27.0,20.0,OHIO,540.0
29,30.0,2558-03-07 00:00:00,James,Binder,7.0,20.0,MISSOURI,140.0
30,31.0,2558-03-15 00:00:00,James,Pencil,56.0,3.0,OTHER STATES,168.0
31,32.0,2558-03-24 00:00:00,Alex,Pen Set,50.0,5.0,WYOMING,250.0
32,33.0,2558-04-01 00:00:00,Richard,Binder,60.0,5.0,GEORGIA,300.0
33,34.0,2558-04-10 00:00:00,Rachel,Pencil,66.0,2.0,MONTANA,132.0
34,35.0,2558-04-18 00:00:00,Rachel,Pencil,75.0,2.0,DELAWARE,150.0
35,36.0,2558-04-27 00:00:00,Nick,Pen,96.0,5.0,NORTH CAROLINA,480.0
36,37.0,2558-05-05 00:00:00,Alex,Pencil,90.0,5.0,ALASKA,450.0
37,38.0,2558-05-14 00:00:00,Bill,Pencil,53.0,1.0,IDAHO,53.0
38,39.0,2558-05-22 00:00:00,Thomas,Pencil,32.0,2.0,INDIANA,64.0
39,40.0,2558-05-31 00:00:00,Bill,Binder,80.0,9.0,CALIFORNIA,720.0
40,41.0,2558-06-08 00:00:00,Richard,Binder,60.0,9.0,NORTH CAROLINA,540.0
41,42.0,2558-06-17 00:00:00,Matthew,Desk,5.0,125.0,ARIZONA,625.0
42,43.0,2558-06-25 00:00:00,Morgan,Pencil,90.0,5.0,PENNSYLVANIA,450.0

In [ ]:
# Export DF to excel
from google.colab import files
df.to_excel('newPrice.xlsx') 
files.download('newPrice.xlsx')

In [ ]:
def absolute(a):

  if a<1 :

    a=a*-1

  else: a

  return(a)

absolute(a)

23